In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('pre_done.csv')
data.head()

,Unnamed: 0,age,careNm,color,neuter,state,sexCd,kind,care1,care2,care3,noticeNo,weight,hapY,hapM,hapD,sad,good,safe,item
0,0,2017,천안시유기동물보호소,B,N,종료(입양),M,고양이,충청남도,천안시,동남구,853,0.9,2017,7,3,False,False,False,False
1,1,2015,천안시유기동물보호소,M,N,보호중,F,개,충청남도,천안시,동남구,941,4.2,2017,7,22,False,False,False,False
2,2,2015,창녕 유기동물보호소,M,N,종료(안락사),F,개,경상남도,창녕군,영산면,182,20.0,2018,2,20,False,False,False,False
3,3,2013,창녕 유기동물보호소,W,N,종료(입양),M,개,경상남도,창녕군,영산면,181,25.0,2018,2,20,False,False,False,False
4,4,2018,창녕 유기동물보호소,Y,N,종료(자연사),F,개,경상남도,창녕군,영산면,177,0.2,2018,2,20,False,False,False,False

In [9]:
data2018 = data[(data['hapY'] == 2018)]
data2017 = data[(data['hapY'] == 2017)]

In [10]:
data2018 = data2018[(data['hapM'] != 7)]
data2018 = data2018[(data['hapM'] != 6)]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [11]:
data2018['hapM'].value_counts()

5    11095
4     8992
3     8085
1     6719
2     5806
Name: hapM, dtype: int64

In [12]:
frames = [data2017, data2018]
data = pd.concat(frames)

In [13]:
data = data.drop(['Unnamed: 0', 'careNm', 'color', 'care1', 'care2', 'care3', 'noticeNo', 'hapY', 'hapD', 'good', 'safe'], axis = 1)
data.head()

     age neuter    state sexCd kind  weight  hapM    sad   item
0   2017      N   종료(입양)     M  고양이     0.9     7  False  False
1   2015      N      보호중     F    개     4.2     7  False  False
12  2017      U  종료(자연사)     F  고양이     0.3     6   True  False
13  2012      N   종료(반환)     M    개     3.0     6  False  False
17  2012      N   종료(입양)     M    개     5.0     3  False  False

In [14]:
data['newAge'] = data['age'].apply(lambda x: 2018 - x)
data['newAge'].value_counts()

1     44010
2     17951
3     17575
0     15075
4     12866
5      7220
6      6240
7      2841
8      2491
11     2186
9      1875
10     1168
13      451
12      287
14      238
16      212
15      177
17       34
18       10
19        5
20        3
21        2
30        2
26        1
25        1
Name: newAge, dtype: int64

In [15]:
data = data.drop(['age'], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132921 entries, 0 to 152941
Data columns (total 9 columns):
neuter    132921 non-null object
state     132921 non-null object
sexCd     132921 non-null object
kind      132921 non-null object
weight    132274 non-null float64
hapM      132921 non-null int64
sad       132921 non-null bool
item      132921 non-null bool
newAge    132921 non-null int64
dtypes: bool(2), float64(1), int64(2), object(4)
memory usage: 8.4+ MB

In [16]:
data.head()

   neuter    state sexCd kind  weight  hapM    sad   item  newAge
0       N   종료(입양)     M  고양이     0.9     7  False  False       1
1       N      보호중     F    개     4.2     7  False  False       3
12      U  종료(자연사)     F  고양이     0.3     6   True  False       1
13      N   종료(반환)     M    개     3.0     6  False  False       6
17      N   종료(입양)     M    개     5.0     3  False  False       6

In [17]:
data_onehot = pd.concat([data, pd.get_dummies(data['neuter'])], axis=1, sort=False)

In [18]:
data_onehot = pd.concat([data_onehot, pd.get_dummies(data['kind'])], axis=1, sort=False)

In [19]:
data_onehot = pd.concat([data_onehot, pd.get_dummies(data['sexCd'])], axis=1, sort=False)

In [20]:
data_onehot = data_onehot.drop(['neuter','kind'], axis = 1)
data_onehot.head()

,state,sexCd,weight,hapM,sad,item,newAge,N,U,Y,개,고양이,기타축종,F,M,Q
0,종료(입양),M,0.9,7,False,False,1,1,0,0,0,1,0,0,1,0
1,보호중,F,4.2,7,False,False,3,1,0,0,1,0,0,1,0,0
12,종료(자연사),F,0.3,6,True,False,1,0,1,0,0,1,0,1,0,0
13,종료(반환),M,3.0,6,False,False,6,1,0,0,1,0,0,0,1,0
17,종료(입양),M,5.0,3,False,False,6,1,0,0,1,0,0,0,1,0

In [ ]:
data_onehot = data_onehot.drop(['sexCd'], axis = 1)

In [24]:
data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132921 entries, 0 to 152941
Data columns (total 15 columns):
state     132921 non-null object
weight    132274 non-null float64
hapM      132921 non-null int64
sad       132921 non-null bool
item      132921 non-null bool
newAge    132921 non-null int64
N         132921 non-null uint8
U         132921 non-null uint8
Y         132921 non-null uint8
개         132921 non-null uint8
고양이       132921 non-null uint8
기타축종      132921 non-null uint8
F         132921 non-null uint8
M         132921 non-null uint8
Q         132921 non-null uint8
dtypes: bool(2), float64(1), int64(2), object(1), uint8(9)
memory usage: 6.5+ MB

In [25]:
data_onehot = data_onehot.rename(index=str, columns={"개": "dog", "고양이": "cat", 'newAge':'age', 'N':'neuterN',
                                      'U':'neuterU', 'Y':'neuterY', 'F':'female', 'M':'male',
                                      'Q':'sexUnknown', '기타축종':'kindETC'})
data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132921 entries, 0 to 152941
Data columns (total 15 columns):
state         132921 non-null object
weight        132274 non-null float64
hapM          132921 non-null int64
sad           132921 non-null bool
item          132921 non-null bool
age           132921 non-null int64
neuterN       132921 non-null uint8
neuterU       132921 non-null uint8
neuterY       132921 non-null uint8
dog           132921 non-null uint8
cat           132921 non-null uint8
kindETC       132921 non-null uint8
female        132921 non-null uint8
male          132921 non-null uint8
sexUnknown    132921 non-null uint8
dtypes: bool(2), float64(1), int64(2), object(1), uint8(9)
memory usage: 6.5+ MB

In [26]:
data_onehot = data_onehot.drop(['female', 'male', 'sexUnknown'], axis = 1)

In [ ]:
data_onehot = data_onehot.drop(['종료(방사)', '종료(미포획)', '종료(기증)'], axis = 1)
data_onehot.head()

In [29]:
data_onehot.head()

,state,weight,hapM,sad,item,age,neuterN,neuterU,neuterY,dog,cat,kindETC
0,종료(입양),0.9,7,False,False,1,1,0,0,0,1,0
1,보호중,4.2,7,False,False,3,1,0,0,1,0,0
12,종료(자연사),0.3,6,True,False,1,0,1,0,0,1,0
13,종료(반환),3.0,6,False,False,6,1,0,0,1,0,0
17,종료(입양),5.0,3,False,False,6,1,0,0,1,0,0

In [30]:
data_onehot['items'] = data_onehot['item'].apply(lambda x: int(x))
data_onehot['bad'] = data_onehot['sad'].apply(lambda x: int(x))
data_onehot = data_onehot.drop(['sad', 'item'], axis = 1)
data_onehot.head()

,state,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,items,bad
0,종료(입양),0.9,7,1,1,0,0,0,1,0,0,0
1,보호중,4.2,7,3,1,0,0,1,0,0,0,0
12,종료(자연사),0.3,6,1,0,1,0,0,1,0,0,1
13,종료(반환),3.0,6,6,1,0,0,1,0,0,0,0
17,종료(입양),5.0,3,6,1,0,0,1,0,0,0,0

In [32]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy = 'median')
imputer.fit(data_onehot.drop(['state'], axis = 1))

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

In [35]:
data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132921 entries, 0 to 152941
Data columns (total 12 columns):
state      132921 non-null object
weight     132274 non-null float64
hapM       132921 non-null int64
age        132921 non-null int64
neuterN    132921 non-null uint8
neuterU    132921 non-null uint8
neuterY    132921 non-null uint8
dog        132921 non-null uint8
cat        132921 non-null uint8
kindETC    132921 non-null uint8
items      132921 non-null int64
bad        132921 non-null int64
dtypes: float64(1), int64(4), object(1), uint8(6)
memory usage: 7.9+ MB

In [36]:
data_onehot_part = data_onehot.drop(['state'], axis = 1)

In [37]:
X = imputer.transform(data_onehot.drop(['state'], axis = 1))
data_onehot_new = pd.DataFrame(X, columns=data_onehot_part.columns, index = list(data_onehot.index.values))
data_onehot_new.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,items,bad
0,0.9,7.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,4.2,7.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,0.3,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
13,3.0,6.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,5.0,3.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [44]:
data_done = pd.concat([data_onehot_new, data_onehot['state']], axis=1, sort=False)
data_done.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,items,bad,state
0,0.9,7.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,종료(입양)
1,4.2,7.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,보호중
12,0.3,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,종료(자연사)
13,3.0,6.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,종료(반환)
17,5.0,3.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,종료(입양)

In [45]:
data_done.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132921 entries, 0 to 152941
Data columns (total 12 columns):
weight     132921 non-null float64
hapM       132921 non-null float64
age        132921 non-null float64
neuterN    132921 non-null float64
neuterU    132921 non-null float64
neuterY    132921 non-null float64
dog        132921 non-null float64
cat        132921 non-null float64
kindETC    132921 non-null float64
items      132921 non-null float64
bad        132921 non-null float64
state      132921 non-null object
dtypes: float64(11), object(1)
memory usage: 13.2+ MB

In [46]:
data_done['state'].value_counts()

종료(입양)     41350
종료(자연사)    34180
종료(안락사)    25699
종료(반환)     19252
보호중         8545
종료(기증)      2626
종료(방사)      1162
종료(미포획)      107
Name: state, dtype: int64

In [48]:
data_done = data_done.replace({'종료(입양)': 'AD', '종료(자연사)': 'ND', '종료(안락사)':'ED', '종료(반환)':'RE', '보호중':'PR',
                   '종료(기증)': 'X', '종료(방사)':'X', '종료(미포획)':'X'})

In [50]:
data_done['state'].value_counts()

AD    41350
ND    34180
ED    25699
RE    19252
PR     8545
X      3895
Name: state, dtype: int64

In [53]:
data_done.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132921 entries, 0 to 152941
Data columns (total 12 columns):
weight     132921 non-null float64
hapM       132921 non-null float64
age        132921 non-null float64
neuterN    132921 non-null float64
neuterU    132921 non-null float64
neuterY    132921 non-null float64
dog        132921 non-null float64
cat        132921 non-null float64
kindETC    132921 non-null float64
items      132921 non-null float64
bad        132921 non-null float64
state      132921 non-null object
dtypes: float64(11), object(1)
memory usage: 13.2+ MB

In [51]:
data_done.to_csv('data_state_class.csv')

In [ ]:
data_onehot_new.to_csv('data_onehot_class.csv')

In [81]:
data_onehot = data_onehot.rename(index=str, columns={"보호중": "protect", "종료(반환)": "return",
                                                    '종료(입양)':'adopt', '종료(자연사)':'death_N',
                                                    '종료(안락사)':'death_E'})
data_onehot.head()

,weight,hapM,sad,item,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N
0,0.9,7,False,False,1,1,0,0,0,1,0,0,0,0,1,0
1,4.2,7,False,False,3,1,0,0,1,0,0,1,0,0,0,0
12,0.3,6,True,False,1,0,1,0,0,1,0,0,0,0,0,1
13,3.0,6,False,False,6,1,0,0,1,0,0,0,1,0,0,0
17,5.0,3,False,False,6,1,0,0,1,0,0,0,0,0,1,0

In [88]:
data_onehot['items'] = data_onehot['item'].apply(lambda x: int(x))
data_onehot['bad'] = data_onehot['sad'].apply(lambda x: int(x))
data_onehot = data_onehot.drop(['sad', 'item'], axis = 1)
data_onehot.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N,items,bad
0,0.9,7,1,1,0,0,0,1,0,0,0,0,1,0,0,0
1,4.2,7,3,1,0,0,1,0,0,1,0,0,0,0,0,0
12,0.3,6,1,0,1,0,0,1,0,0,0,0,0,1,0,1
13,3.0,6,6,1,0,0,1,0,0,0,1,0,0,0,0,0
17,5.0,3,6,1,0,0,1,0,0,0,0,0,1,0,0,0

In [90]:
data_onehot.corr()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N,items,bad
weight,1.000000,-0.026436,0.125049,-0.000490,0.000029,0.000975,0.214546,-0.212601,-0.020669,0.009696,0.134818,0.050666,-0.018204,-0.135299,0.137269,-0.037903
hapM,-0.026436,1.000000,0.056196,0.001942,0.002496,-0.009206,-0.077656,0.079007,-0.000921,-0.029768,-0.012923,0.008253,-0.054041,0.067238,-0.017286,0.018508
age,0.125049,0.056196,1.000000,-0.161356,0.080147,0.177323,0.308218,-0.300731,-0.048975,-0.067984,0.241664,0.121867,-0.117798,-0.125206,0.142999,0.096100
neuterN,-0.000490,0.001942,-0.161356,1.000000,-0.884842,-0.305764,-0.062022,0.072938,-0.041043,0.023339,-0.099285,-0.005651,0.041455,0.010886,0.004442,-0.045765
neuterU,0.000029,0.002496,0.080147,-0.884842,1.000000,-0.173025,0.019586,-0.033068,0.054078,-0.012167,0.031535,0.015536,-0.045956,0.034968,-0.035030,0.039460
neuterY,0.000975,-0.009206,0.177323,-0.305764,-0.173025,1.000000,0.091092,-0.086616,-0.023750,-0.024473,0.145448,-0.019804,0.006280,-0.094475,0.062199,0.016108
dog,0.214546,-0.077656,0.308218,-0.062022,0.019586,0.091092,1.000000,-0.970745,-0.179236,0.030861,0.212015,0.179317,0.047984,-0.368033,0.224411,-0.151946
cat,-0.212601,0.079007,-0.300731,0.072938,-0.033068,-0.086616,-0.970745,1.000000,-0.062234,-0.026287,-0.209785,-0.173625,-0.069123,0.379562,-0.217483,0.160567
kindETC,-0.020669,-0.000921,-0.048975,-0.041043,0.054078,-0.023750,-0.179236,-0.062234,1.000000,-0.020571,-0.021725,-0.033964,0.083767,-0.025385,-0.041711,-0.026300
protect,0.009696,-0.029768,-0.067984,0.023339,-0.012167,-0.024473,0.030861,-0.026287,-0.020571,1.000000,-0.107871,-0.128323,-0.176135,-0.154214,-0.036435,-0.057929
return,0.134818,-0.012923,0.241664,-0.099285,0.031535,0.145448,0.212015,-0.209785,-0.021725,-0.107871,1.000000,-0.201481,-0.276551,-0.242133,0.166043,-0.048130
death_E,0.050666,0.008253,0.121867,-0.005651,0.015536,-0.019804,0.179317,-0.173625,-0.033964,-0.128323,-0.201481,1.000000,-0.328984,-0.288040,0.019289,0.078662
adopt,-0.018204,-0.054041,-0.117798,0.041455,-0.045956,0.006280,0.047984,-0.069123,0.083767,-0.176135,-0.276551,-0.328984,1.000000,-0.395363,-0.004130,-0.142341
death_N,-0.135299,0.067238,-0.125206,0.010886,0.034968,-0.094475,-0.368033,0.379562,-0.025385,-0.154214,-0.242133,-0.288040,-0.395363,1.000000,-0.131971,0.151057
items,0.137269,-0.017286,0.142999,0.004442,-0.035030,0.062199,0.224411,-0.217483,-0.041711,-0.036435,0.166043,0.019289,-0.004130,-0.131971,1.000000,-0.093990
bad,-0.037903,0.018508,0.096100,-0.045765,0.039460,0.016108,-0.151946,0.160567,-0.026300,-0.057929,-0.048130,0.078662,-0.142341,0.151057,-0.093990,1.000000

In [91]:
data_onehot.to_csv('data_onehot.csv')

In [92]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy = 'median')
imputer.fit(data_onehot)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

In [93]:
imputer.statistics_

array([3.5, 5. , 2. , 1. , 0. , 0. , 1. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. ])

In [97]:
X = imputer.transform(data_onehot)

In [105]:
data_onehot.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N,items,bad
0,0.9,7,1,1,0,0,0,1,0,0,0,0,1,0,0,0
1,4.2,7,3,1,0,0,1,0,0,1,0,0,0,0,0,0
12,0.3,6,1,0,1,0,0,1,0,0,0,0,0,1,0,1
13,3.0,6,6,1,0,0,1,0,0,0,1,0,0,0,0,0
17,5.0,3,6,1,0,0,1,0,0,0,0,0,1,0,0,0

In [101]:
data_onehot_new = pd.DataFrame(X, columns=data_onehot.columns, index = list(data_onehot.index.values))
data_onehot.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N,items,bad
0,0.9,7,1,1,0,0,0,1,0,0,0,0,1,0,0,0
1,4.2,7,3,1,0,0,1,0,0,1,0,0,0,0,0,0
12,0.3,6,1,0,1,0,0,1,0,0,0,0,0,1,0,1
13,3.0,6,6,1,0,0,1,0,0,0,1,0,0,0,0,0
17,5.0,3,6,1,0,0,1,0,0,0,0,0,1,0,0,0

In [104]:
data_onehot_new.to_csv('data_onehot_new.csv')