In [30]:
import pandas as pd

In [31]:
after_pre = pd.read_csv('pre_done.csv')

In [32]:
after_pre = after_pre.drop(['Unnamed: 0'], axis = 1)
after_pre.head(1)

,age,careNm,color,neuter,state,sexCd,kind,care1,care2,care3,noticeNo,weight,hapY,hapM,hapD,sad,good,safe,item
0,2017,천안시유기동물보호소,B,N,종료(입양),M,고양이,충청남도,천안시,동남구,853,0.9,2017,7,3,False,False,False,False

In [33]:
after_pre = pd.concat([after_pre, pd.get_dummies(after_pre['color'])], axis=1, sort=False)

In [35]:
after_pre = pd.concat([after_pre, pd.get_dummies(after_pre['sexCd'])], axis=1, sort=False)

In [37]:
after_pre = pd.concat([after_pre, pd.get_dummies(after_pre['neuter'])], axis=1, sort=False)

In [41]:
after_pre = pd.concat([after_pre, pd.get_dummies(after_pre['state'])], axis=1, sort=False)

In [42]:
after_pre = pd.concat([after_pre, pd.get_dummies(after_pre['kind'])], axis=1, sort=False)

In [43]:
after_pre = after_pre.drop(['state', 'kind', 'noticeNo'], axis = 1)

In [48]:
after_pre.head()

,age,careNm,care1,care2,care3,weight,hapY,hapM,hapD,sad,...,종료(기증),종료(미포획),종료(반환),종료(방사),종료(안락사),종료(입양),종료(자연사),개,고양이,기타축종
0,2017,천안시유기동물보호소,충청남도,천안시,동남구,0.9,2017,7,3,False,...,0,0,0,0,0,1,0,0,1,0
1,2015,천안시유기동물보호소,충청남도,천안시,동남구,4.2,2017,7,22,False,...,0,0,0,0,0,0,0,1,0,0
2,2015,창녕 유기동물보호소,경상남도,창녕군,영산면,20.0,2018,2,20,False,...,0,0,0,0,1,0,0,1,0,0
3,2013,창녕 유기동물보호소,경상남도,창녕군,영산면,25.0,2018,2,20,False,...,0,0,0,0,0,1,0,1,0,0
4,2018,창녕 유기동물보호소,경상남도,창녕군,영산면,0.2,2018,2,20,False,...,0,0,0,0,0,0,1,1,0,0

In [45]:
after_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152949 entries, 0 to 152948
Data columns (total 36 columns):
age        152949 non-null int64
careNm     152949 non-null object
care1      152949 non-null object
care2      152949 non-null object
care3      152949 non-null object
weight     152167 non-null float64
hapY       152949 non-null int64
hapM       152949 non-null int64
hapD       152949 non-null int64
sad        152949 non-null bool
good       152949 non-null bool
safe       152949 non-null bool
item       152949 non-null bool
B          152949 non-null uint8
G          152949 non-null uint8
M          152949 non-null uint8
U          152949 non-null uint8
W          152949 non-null uint8
Y          152949 non-null uint8
F          152949 non-null uint8
M          152949 non-null uint8
Q          152949 non-null uint8
N          152949 non-null uint8
U          152949 non-null uint8
Y          152949 non-null uint8
보호중        152949 non-null uint8
종료(기증)     152949 non-null uint8
종료(미포획)    152949 non-null uint8
종료(반환)     152949 non-null uint8
종료(방사)     152949 non-null uint8
종료(안락사)    152949 non-null uint8
종료(입양)     152949 non-null uint8
종료(자연사)    152949 non-null uint8
개          152949 non-null uint8
고양이        152949 non-null uint8
기타축종       152949 non-null uint8
dtypes: bool(4), float64(1), int64(4), object(4), uint8(23)
memory usage: 14.4+ MB

In [46]:
after_pre.describe()

,age,weight,hapY,hapM,hapD,B,G,M,U,W,...,종료(기증),종료(미포획),종료(반환),종료(방사),종료(안락사),종료(입양),종료(자연사),개,고양이,기타축종
count,152949.000000,152167.000000,152949.000000,152949.00000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,...,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000,152949.000000
mean,2015.349417,5.408807,2017.397028,5.86927,15.742999,0.065166,0.021321,0.470915,0.007538,0.244284,...,0.018549,0.000771,0.142008,0.008160,0.180917,0.293124,0.250358,0.726504,0.262336,0.011161
std,2.704363,10.289398,0.489283,2.95262,8.661893,0.246818,0.144452,0.499155,0.086497,0.429663,...,0.134925,0.027765,0.349060,0.089961,0.384950,0.455196,0.433221,0.445755,0.439906,0.105053
min,1988.000000,0.010000,2017.000000,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2014.000000,1.500000,2017.000000,4.00000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,3.500000,2017.000000,6.00000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,2017.000000,6.000000,2018.000000,8.00000,23.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,2018.000000,1935.000000,2018.000000,12.00000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000